<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>TGA101 G1</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<request-character-encoding>UTF-8</request-character-encoding>
	<response-character-encoding>UTF-8</response-character-encoding>
	
  <servlet>
		<servlet-name>ReadAdmMebPhoto</servlet-name>
		<servlet-class>com.adm_meb.controller.ReadAdmMebPhoto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadAdmMebPhoto</servlet-name>
		<url-pattern>/ReadAdmMebPhoto</url-pattern>
	</servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/DBmether</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  	<servlet>
		<servlet-name>AdmMebServlet</servlet-name>
		<servlet-class>com.adm_meb.controller.AdmMebServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmMebServlet</servlet-name>
		<url-pattern>/adm_meb/adm_meb.do</url-pattern>
	</servlet-mapping>
	
</web-app>
